.footerNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222328;
  padding-top: 50px;
}

.footerNav__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  padding: 0 15px;
  margin-bottom: 30px;
}

.footerNav__contactTel {
  font-size: 20px !important;
  color: #ca0017 !important;
  margin-bottom: 15px !important;
  display: flex !important;
  align-items: center !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  text-transform: lowercase !important;
}

.footerNav__contactTel:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

.footerNav__contactTel > .MuiSvgIcon-root {
  margin-right: 10px;
}

.footerNav__contactOtherTel {
  font-size: 15px;
  margin-bottom: 15px;
  color: #ffffff99;
  line-height: 1.5rem;
}

.footerNav__contactOtherTel > .MuiButton-root {
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
}

.footerNav__contactOtherTel > .MuiButton-root:hover {
  text-decoration: underline;
}

.footerNav__email {
  font-size: 15px !important;
  text-decoration: underline !important;
  color: #ffffff !important;
  text-transform: lowercase !important;
}

.footerNav__email:hover {
  cursor: pointer !important;
  text-decoration: none !important;
}

.footerNav__socialMedia {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.footerNav__socialMedia > .MuiSvgIcon-root {
  color: #6d6d6d;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in;
}

.footerNav__socialMedia > .MuiSvgIcon-root:hover {
  color: #ffffff;
  transform: scale(1.2);
}

/* RESPONSIVE */

@media only screen and (max-width: 999px) {
  .footerNav {
    flex-wrap: wrap;
  }
}
